 @ubeGray:#4C4C4D;
    @ubeBlack:#404040;
    @ubeLight:whitesmoke;
 @ubeBlue:#51a3d4;


#main-content {


    @radius:30px;
    @shadowSize:8px;
    @shadow:@shadowSize @shadowSize 20px rgba(0,0,0,0.65);
    @ubeGray:#4C4C4D;
    @ubeBlack:#404040;
    @ubeLight:whitesmoke;
    @textColor:#BFBFBF;


    .block {


        // We move the block because of shadow
        position: relative;
        left: @shadowSize;

        .clearfix;
        .border-radius(@radius);
        background-color:@ubeGray;

        padding: @radius;

        .box-shadow(@shadow);



        p,li {
            .NormalTextShadow();
            color: @textColor;
            text-align: justify;
            list-style: inside;

        }

        a {
            color: @ubeBlue;
            
            &:hover {
                color: lighten(@ubeBlue,10%);
            }
        }
    }

    .offre-block {
        width: 250px;
        height: 350px;

                 position: relative;
                 float : left;

                  .border-radius(@radius);
                  background-color:@ubeGray;
                padding: @radius;
          .box-shadow(@shadow);

                ul, p {
                    /*list-style-type: none;*/
                    margin-top: 10px;
                }

                p,li {
                    .NormalTextShadow();
                    color: @textColor;
                    text-align: justify;
                    /*text-align: left;*/
                    list-style: inside;

                }
    }

    .block + .block {
        margin-top:50px;
    }

    #logo-fb-webube {
        background-image: url('../images/icontexto-inside-facebook.png');
        width: 128px;
        height: 128px;
        margin: auto;
        margin-top: 50px;
    }

        .small-block-clearfix {
           .clearfix;
        }



    .block-light {
        .clearfix;
        .border-radius(@radius);
        background-color:@ubeLight;
        padding: @radius - 4;

        p { color: @ubeBlack; text-shadow: none; }
         
        a {color: @blue;
        
            &:hover {
                text-shadow: 0 0 10px white;
                color: lighten(@blue,10%);
            }
        }


        &.info_address {


            position: absolute;
            right: @radius ;
            top:98px;
        }
    }

}