#{extends 'main.html' /}
#{set title:'WebUbe - Application facebook' /}
#{set description:'développement d’applications Facebook' /}

<div id="appFacebook" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
    <div class="block">
        <h1>PhoenixBox Application Facebook</h1>

        <br/><br/>

        <object type="text/html" data="http://www.youtube.com/embed/5eu8b6mgmrQ" class="object-video"></object>

        <br/><br/>

        <p>
            <strong> Facebook </strong> en quelques chiffres c’est :
        </p>

        <br/>

        <div class="info-left">
            <ul>
                <li> plus de <strong> 845 millions </strong> d’utilisateurs</li>
                <li> plus de <strong> 22 millions </strong> d’utilisateurs Français</li>
                <li> le <strong> 2ème site </strong> le plus visité après Google</li>
                <li><strong> 48% des 18-34 </strong> regarde leur Facebook dès leur réveil</li>
            </ul>
        </div>

        <div class="info-right">
            <ul>
                <li> 20 minutes sur Facebook, c’est :</li>
                <ul>
                    <li> 921 000 statuts mis à jour</li>
                    <li> 2 916 000 messages envoyés</li>
                    <li> 10 208 000 commentaires postés</li>
                </ul>
            </ul>
        </div>

        <br/>

        <p>
            <strong>95 % des gens sur Facebook </strong> utilisent les applications Facebook. <br/>
        </p>

        <div id="logo-phoenixbox">
        </div>

    </div>

    <div class="block">
        <h3> Pourquoi ne pas créer votre propre application Facebook ? <br/></h3>

        <p>
            Personnalisez vos envois de messages sur le <strong> Wall Facebook</strong> en découvrant
            <span style="color: #7e9be3;"> le forfait Classique ou Customisation. </span>
        </p>

        <p>
            Une idée personnelle, une envie de réaliser votre propre application découvrez
            <span style="color: #7e9be3;">le forfait Innovation .</span>
        </p>

        <p>
            Toutes nos applications sont réalisées avec le framework Play (Java), langage rapide pour ce type d'applications.
        </p>
    </div>

    <br/> <br/>

    <div style="height: 410px;">
        <div class="offre-block" style="margin-left: 10px;">
            <h2 style="text-align: center;"> Forfait Classique </h2>
            <br/>

            <p>
                Design/Logo/Css
            </p>

            <p>
                Choix d’un seul langage
            </p>

            <p>
                5 photos maxi pour les messages sur le Wall <br/>
                (pas d'upload)
            </p>

            <p>
                hébergement sur nos serveurs
            </p>

            <p>
                google analytics (statistique du nombre de visiteurs)
            </p>
        </div>

        <div class="offre-block" style="margin-left: 10px;">
            <h2 style="text-align: center"> Forfait Customisation </h2>

            <br/>

            <p style="color: #7e9be3; text-align: center">
                forfait classique
            </p>

            <p style="color: #7e9be3; text-align: center"> + </p>

            <p> Exemples réalisables : </p>

            <ul>
                <li>
                    multilangues
                </li>
                <li>
                    Upload de photos personnelles
                </li>
            </ul>

            <p style="color: #7e9be3; text-align: center">
                +
            </p>

            <p style="color: #7e9be3; text-align: center"> toutes vos idées </p>


        </div>

        <div class="offre-block" style="margin-left: 10px;">
            <h2 style="text-align: center"> Forfait Innovation </h2>

            <br/>

            <p> Réalisation de toutes vos idées personnelles pour une application facebook </p>

            <div id="logo-fb-webube">

            </div>
        </div>

    </div>

    <br/> <br/>

    <div class="block">
        <p style="text-align: center;"> Nous contacter pour toutes demandes de devis</p>
    </div>

    <div class="block">


        <div class="block-light contact-center">

            <p>
                Nous rejoindre :
            </p>

            <p>
                contact :
                <a href="http://webube.com/application/contact"> Webube-contact</a> <br/>
            </p>

            <p>
                sur facebook :
                <a target="_blank" href="http://www.facebook.com/profile.php?id=100001680191394"> Webube-facebook</a> <br/>
            </p>

            <p>
                notre application démo :
                <a target="_blank" href="http://apps.facebook.com/phoenixbox/"> PhoenixBox By Webube </a>
            </p>
        </div>

    </div>


</div>

