#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:' WebUbe à développé sa propre technologie propriétaire baptisé App-Ocalypse permettant de développer des applications cross plateformes combinant l’agilité du site mobile et les fonctionnalités de l’application native.' /}


<!-- Example row of columns -->

<div id="appOcalypse" class="step"  data-x="850" data-y="3000" data-rotate="90" data-scale="5">


    <div class="block">

        <h1>Une nouvelle génération d'applications mobile !</h1>

        <div id="rowPres">
            <div class="cell">
                <h2>L’application native</h2>

                <p>Un développement par plateformes mobiles. Possibilité d’interagir avec les fonctionnalités du
                    téléphone.</p>
            </div>

            <div class="cell">
                <h2>Le site mobile</h2>

                <p>Compatible avec l’ensemble des smartphones.</p>
            </div>
        </div>

        <div>

            <img src="http://c1663920.r20.cf2.rackcdn.com/img_socialweb.png" alt="Logo webube appocalypse"/>

        </div>

        <div>
            <div class="cell">
                <h2>Nos applications cross plateformes</h2>

                <p>Un site mobile encapsulé dans une coquille native : compatible avec l’ensemble du parc, utilise les
                    fonctionnalités du téléphone, fonctionne sans connexion internet.</p>

                <p>
                    <strong>Aujourd’hui, si l'on souhaite interagir avec un smartphone, il y a 3 possibilités :</strong>
                </p>
            </div>
        </div>

        <div>

            <div class="cell">
                <h2>L’application native</h2>

                <p>C’est l’application traditionnelle que l’on installe sur son smartphone. Si l’on souhaite cibler
                    l’ensemble du parc des smartphones, il faut développer autant d’applications mobiles que de
                    plateformes
                    mobiles (iPhone, Android, BlackBerry, WP7..). Le développement est plus long, plus coûteux, mais
                    l’application sera parfaitement adaptée à chaque plateforme.
                </p>

            </div>
        </div>

        <div>

            <div class="cell">
                <h2>Le site mobile</h2>

                <p>C’est un site Web développé et mis en forme spécifiquement pour les mobiles. Il ne permet pas de
                    tirer
                    parti des fonctionnalités offertes par le mobile (appareil photo, GPS, notifications push,
                    etc...).</p>

                <p>Un site mobile se consulte directement depuis le navigateur Internet du smartphone et nécessite donc
                    une
                    connexion internet pour pouvoir être chargé. L’avantage est qu’il fonctionnera sur l’ensemble du
                    parc
                    mobile.
                </p>
            </div>
        </div>


        <div>


            <img src="http://c1663920.r20.cf2.rackcdn.com/img_app-ocalypse.png" alt="img appocalypse"/>

        </div>


        <div>

            <div class="cell">
                <h2>L’application hybride cross plateformes</h2>

                <p>WebUbe vous propose de réunir le meilleur des deux mondes dans une application hybride cross
                    plateformes
                    ! WebUbe à développé sa propre technologie propriétaire baptisé <strong>App-Ocalypse</strong>
                    permettant de développer
                    des
                    applications cross plateformes combinant l’agilité du site mobile et les fonctionnalités de
                    l’application native. L’application hybride cross plateformes permet d’avoir le meilleur taux de
                    pénétration du marché tout en bénéficiant d’un développement multiplateforme peu coûteux.</p>

            </div>
        </div>

        <div>

            <img src="http://c1663920.r20.cf2.rackcdn.com/img_mobile.png" alt="Mobile webube"/>


        </div>

        <div class="center">
            <a class="btn success" href="@{Application.contact()}">Nous contactez</a>
        </div>
    </div>
</div>