#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Nos références du cloud' /}




<div id="cloud" class="step">

    <div class="block">
        <a href="@{Application.phoenixProject()}">
            <img src="http://c1663920.r20.cf2.rackcdn.com/img_mobile.png" alt="app-occalypse" width="320px"
                 height="240px"/>

            <h1>PhoenixMobile : l'Application mobile universelle</h1>


            <p>
                Les équipes WebUbe sont expertes et référantes sur la conception, le développement et l'intégration
                de vos sites ou applications iPhone/iPad, Android, mais aussi Blackberry.
            </p>


            <p>
                Notre solution AppOcalypse permet de développer rapidement votre application sur les 3 principales
                plateformes du marché (iPhone, Android et blackberry)
            </p>


        </a>
    </div>

    <div class="block">
        <a href="@{Application.webSite()}">
            <img src="http://c1663920.r20.cf2.rackcdn.com/img_socialweb.png" alt="app-occalypse" width="320px"
                 height="240px"/>

            <h1>PhoenixSite : La gestion de contenu web simplifié</h1>


            <p>
                PhoenixSite permet le développement rapide d'un site web, maitrisez votre communication en ligne.
            </p>


            <p>
                Nous concentrons nos effors sur la simplicité d'utilisation, la rapidité d'affichage et une utilisation
                des dernières technologies Web permettant d'obtenir le meilleur rendu possible.
            </p>


        </a>
    </div>

    *{<div class="block">}*
        *{<a href="@{Application.appFacebook()}">}*


            *{<img src="http://c1663920.r20.cf2.rackcdn.com/smallLogoPhoenixBox.png" alt="PhoenixBoxs appli" width="320px"}*
                 *{height="260px"/>}*

            *{<h1>PhoenixBox : l'application facebook dans le cloud</h1>}*

            *{<p>}*
                *{WebUbe à développé son savoir faire SoLoMo (Social, Local, Mobile) autour d'une solution nommé}*
                *{PhoenixBox vous permettant de}*
                *{développer très rapidement des applications facebook.}*
            *{</p>}*

            *{<p>}*
                *{Venez découvrir le développement facebook facile avec PhoenixBox.}*
            *{</p>}*
        *{</a>}*

    *{</div>}*

</div>

