#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Nos références du cloud' /}




<div id="cloud" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">

    <div class="block">
        <a href="@{Application.appOcalypse()}">
            <img src="http://c1663920.r20.cf2.rackcdn.com/small_img_app-ocalypse.png" alt="app-occalypse" width="280px" height="180px"/>

            <h1>Applications mobiles</h1>


            <p>
                Aujourd'hui il existe 3 possibilités d'interagir avec un smartphone :
            </p>

            <ul>
                <li>
                    l'application native
                </li>
                <li>
                    le site mobile
                </li>
                <li>
                    l'application hybride cross platform
                </li>
            </ul>
            <p>
                WebUbe en a fait sa spécialisation.
            </p>

        </a>
    </div>

    <div class="block">
        <a href="@{Application.appFacebook()}">
            *{<div style="height: 250px; width: 280px;">}*

            <img src="http://c1663920.r20.cf2.rackcdn.com/smallLogoPhoenixBox.png" alt="PhoenixBoxs appli" width="280px" height="180px"/>
            *{</div>}*

            <h1>Applications facebook</h1>

            <p>
                WebUbe a déjà développé 2 applications facebook.
            </p>

            <ul>
                <li>
                    Une application démo, phoenixBox
                </li>
                <li>
                    Une application client basée sur la première
                </li>
            </ul>

            <p>
                Nous développons toutes sortes d'applications allant de la plus
              <br/>  simple à la plus compliquée.
              *{<br />  Venez tester notre application sur facebook !}*
            </p>
        </a>

    </div>

</div>

