#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Nos références du cloud' /}




<div id="cloud" class="step"  data-x="850" data-y="3000" data-rotate="90" data-scale="5">

    <div class="block">
        <a href="@{Application.appOcalypse()}">
            <img src="http://c1663920.r20.cf2.rackcdn.com/img_app-ocalypse.png" alt="app-occalypse" width="180px" height="180px"/>

            <h1>App-Occalypse</h1>


            <p>
                Aujourd'hui il existe 3 possibilités d'interagir avec un smartphone :
                <br />
                l'application native, le site mobile, l'application hybride cross platform.
                <br />
                WebUbe en a fait sa spécialisation.
            </p>

        </a>
    </div>

     <div class="block">
        <a href="@{Application.appFacebook()}">
            <img src="../public/images/smallLogoPhoenixBox.png" alt="PhoenixBoxs appli" width="180px" height="180px"/>

            <h1>PhoenixBox</h1>

            <p>
                Exemple d'une application facebook permettant l'envoie de carte.
                Nous dévellopons toutes sorte d'applications allant de la plus simple à la plus compliquée.
                Tester notre application sur facebook !
            </p>
        </a>

    </div>

</div>

