#{extends 'main.html' /}
#{set title:'Home' /}


<div id="company">
    <div class="block">


        <div class="companyRow">

            <h1>Écoute</h1>

            <p>WebUbe a positionné la relation client au centre de sa stratégie. En effet, nous sommes intimement
                convaincus qu’une relation de confiance doit s’instaurer immédiatement de manière à travailler ensemble
                dans les meilleures conditions possibles.</p>

            <img id="ecouteIllustration" src="@{'public/images/societe/illu_ecoute.png'}" alt="Ecoute illus"/>

        </div>


        <div class="companyRow">
            <h1>Excellence technique</h1>

            <p>Les ingénieurs WebUbe sont tous des passionnés de haute technologie. Notre expertise technique et notre
                sens de l’innovation nous poussant à aller toujours plus loin, nous n’hésitons pas à être précurseurs en
                développent une nouvelle technologie mobile hybride nommée App-Ocalypse.
            </p>

                <img src="@{'public/images/societe/illu_excellence-technique.png'}" alt="Excellence technique illus"/>
        </div>
        <div class="companyRow">

            <h1>La Qualité</h1>

            <p>
                WebUbe s’engage à fournir un rendu de qualité, sans faille et fonctionnel. L’excellence est une valeur
                profondément ancrée dans le patrimoine génétique de WebUbe.
            </p>

            <img class="thumbnail" id="qualityIllustration" src="@{'public/images/societe/illu_quality.png'}" alt="Excellence illu quality">

        </div>

        <div class="companyRow">

            <h1>Méthode de travail</h1>

            <p>
                Toujours à votre écoute, les ingénieurs WebUbe vous aident à définir vos besoins et à formaliser vos
                attentes. Qualité, productivité et rigueur sont les bases de notre savoir-faire.
            </p>
            <img src="@{'public/images/societe/illu_methode.png'}" alt="illu methode">
        </div>
        <div class="companyRow">

            <h1>Scrum, Lean management</h1>

            <p>WebUbe croit beaucoup aux méthodes agiles. Nos équipes définissent avec vous les priorités. Le cycle
                d'itération étant court vous pouvez à tout moment réorienter vos besoins ou faire évoluer différemment
                votre projet.</p>

            <img id="agileIllustration" src="@{'public/images/societe/illu_agile.png'}" alt="illu agile">

        </div>

    </div>
</div>
