#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company - Société' /}
#{set description:'Les ingénieurs WebUbe sont tous des passionnés de haute technologie. Notre expertise technique et notre sens de l’innovation nous poussant à aller toujours plus loin, nous n’hésitons pas à être précurseurs en développent une nouvelle technologie mobile hybride nommée App-Ocalypse.' /}



<div id="company" class="step"  data-x="850" data-y="3000" data-rotate="90" data-scale="5">
    <div class="block">
         <div>
             <h1 style="text-align: center;margin-bottom: 100px;"> Notre Société </h1>

             <img id="labelRight" src="@{'public/images/societe/illu_quality_one.png'}" alt="label">


             <div class="companyRow">
             <h1>Écoute</h1>
                 <p>WebUbe a positionné la relation client au centre de sa stratégie. En effet, nous sommes intimement
                     convaincus qu’une relation de confiance doit s’instaurer immédiatement de manière à travailler
                     ensemble
                     dans les meilleures conditions possibles.</p>
             </div>


             <div class="companyRow">
                 <h1>Excellence technique</h1>
                 <p>Les ingénieurs WebUbe sont tous des passionnés de haute technologie. Notre expertise technique et
                     notre
                     sens de l’innovation nous poussent à toujours aller plus loin.
                     Cela nous a amenés à développer notre propre technologie mobile pour WebApp baptisée
                 <a style="font-weight: bold;" data-link="webApp" href="@{Application.webApp()}">Eagle <span class="super">©</span> »</a>

             </div>
             <div class="companyRow">
                 <h1>La Qualité</h1>
                 <p>
                     WebUbe s’engage à fournir un rendu de qualité, sans faille et fonctionnel. L’excellence est une
                     valeur
                     profondément ancrée dans le patrimoine génétique de WebUbe.
                 </p>
             </div>

             <div class="companyRow">
                 <h1>Méthode de travail</h1>
                 <p>
                     Toujours à votre écoute, les ingénieurs WebUbe vous aident à définir vos besoins et à formaliser
                     vos
                     attentes. Qualité, productivité et rigueur sont les bases de notre savoir-faire.
                 </p>
             </div>
             <div class="companyRow">
                 <h1>Scrum, Lean management</h1>
                 <p>WebUbe croit beaucoup aux méthodes agiles. Nos équipes définissent avec vous les priorités. Le cycle
                     d'itération étant court vous pouvez à tout moment réorienter vos besoins ou faire évoluer
                     différemment
                     votre projet.</p>
             </div>

             <img style="margin-top: 50px;" src="http://c862609.r9.cf3.rackcdn.com/illu_quality.png" />

         </div>

        <div class="center">
            <a class="btn success" data-link="contact" href="@{Application.contact()}">Nous contacter</a>
        </div>
    </div>
</div>
