#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Si vous avez un projet en tête et que vous cherchez un partenaire de confiance pour le mener à bien, vous êtes au bon endroit !' /}


<!-- Example row of columns -->


<div id="contact" class="step">


    <div id="contactInfo" class="block">

        <h1>Venez trouver un partenaire de confiance</h1>


        <div class="left">
            <p>
                Si vous avez un projet en tête et que vous cherchez un partenaire de confiance pour le mener à bien,
                vous êtes au bon endroit !
            </p>

            <p>
                Un site Internet, un réseau social, une application mobile, une application Facebook à
                développer ? WebUbe vous apportera toute son expertise et son savoir-faire.
            </p>

            <p>
                <strong> N’hésitez pas à nous contacter ! </strong>
            </p>

        </div>

        <img src="http://c1663920.r20.cf2.rackcdn.com/logo_contact.png" alt="Logo message webube">

    </div>

    <div name="contact" class="block merge">

        <h1>Contacts</h1>


        <div class="block-light info_address span6">

            <p>
                Adresse: 73, Rue de la plaine
                75020 Paris
            </p>

            <p>
                Téléphone: 01 71 50 11 02
            </p>

            <p>
                e-mail: <a href="mailto:contact@webube.com">contact@webube.com </a>
            </p>
        </div>

    #{form @Contact.sendMessage(), id:'sendMessage'}

        <fieldset>

            <input class="span8" type="text" name="name" placeholder="Votre nom..."
                   required
                    />
        </fieldset>

        <fieldset>
            <input class="span8" type="email" name="email" placeholder="Votre email..."
                   required
                    />
        </fieldset>

        <fieldset>
            <textarea id="contactTextArea" name="message" placeholder="Tapez votre message" required></textarea>
        </fieldset>


        <input id="send" type="submit" class="btn success" value="Envoyez!!!"/>
    #{/form}


    </div>


    <div name="join-us" class="block">

        <h1>
            Nous rejoindre
        </h1>


        <div class="ambiance">

            <img class="right" src="http://c1663920.r20.cf2.rackcdn.com/loupe_img.png" alt="Loupe contact">

            <div>

                <p>
                    Bonne ambiance, dynamisme et travail de qualité sont les caractéristiques principales de
                    la culture d’entreprise de WebUbe. Pour soutenir sa croissance, <strong>WebUbe</strong> recrute les
                    talents d’aujourd’hui.
                </p>

                <p>Les profils que nous recherchons : </p>

                <ul>
                    <li><p>R&D</p></li>
                    <li><p>Développement et gestion de projet</p></li>
                    <li><p>Graphiste et intégrateur HTML.</p></li>
                </ul>


                <p>
                    N’hésitez pas à nous communiquer votre candidature (emplois ou stage), nous l’étudierons
                    avec la plus grande attention.
                </p>


            </div>

        </div>

        <div class="culture">


            <h2>
                Notre culture
            </h2>

            <p>
                Vous intégrerez une équipe jeune et très motivée. Nous pensons qu’une personne
                exprime le maximum de son potentiel en exploitant ses passions et en créant des produits
                dont elle peut être fière. Chez WebUbe, vous travaillerez dans un environnement fun où
                passion, innovation et création sont en synergie.
            </p>

            <h2>
                Responsabilité
            </h2>

            <p>
                Vous travaillerez sur notre technologie phare <strong>"Eagle"</strong> et notre infrastructure
                SAS
                dédiées aux professionnels <strong>"WebUbe Cloud Services"</strong>. Vous développerez les nouvelles
                fonctionnalités de la gamme WebUbe. Outre notre technologie cross platform, vous aurez
                aussi à imaginer les futurs produits.
            </p>

            <h2>
                Technologies
            </h2>

            <p>Nous utilisons une multitude de technologies et d'outils, incluant <strong>Git</strong>,
                <strong>Play Framework</strong>, <strong>JQuery</strong>, <strong>MongoDb</strong>,
                <strong>Java</strong>, <strong>Scala</strong> et <strong>Dart</strong>. Nous créons des plug-ins pour toutes les plateformes que nous
                supportons, Android, IOS, BlackBerry, etc..
            </p>

            <p>
                Nous sommes ouverts et nous sommes intimement persuadées qu’il ne faut jamais
                s’enfermer dans une seule technologie.
            </p>

            <p>
                Intéressé ? Postulez ! Envoyez-nous un email à <a
                    href="mailto:contact@webube.com">contact@webube.com</a>
            </p>

        </div>
    </div>


    <!-- sample modal content -->
    <div id="modal-from-dom" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>

            <h2>Merci pour votre message</h2>
        </div>
        <div class="modal-body">
            <p>Nous vous répondrons dans les plus bref délais</p>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn success close">Ok</a>
        </div>
    </div>


</div>



