#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company - Contactez nous' /}
#{set description:'Si vous avez un projet en tête et que vous cherchez un partenaire de confiance pour le mener à bien, vous êtes au bon endroit !' /}


<!-- Example row of columns -->


<div id="contact" class="step">


    <div name="contact" class="block merge">


        <h1>Contacts</h1>

        <div class="block-light info_address span6">


            <p> Adresse: <a style="font-size: 16px" target="_blank" href="http://g.co/maps/z5xj2">27 rue du chemin vert 75011 Paris</a></p>

            *{<p>}*
                *{Téléphone: <a href="tel:+33171501102">01 71 50 11 02</a>}*
            *{</p>}*

            <p>
                e-mail: <a style="font-size: 16px" target="_blank" href="mailto:contact@webube.com">contact@webube.com </a>
            </p>

        </div>

    #{form @Contact.sendMessage(), id:'sendMessage'}

        <fieldset>

            <input class="span8" type="text" name="name" placeholder="Votre nom..."
                   required
                    />
        </fieldset>

        <fieldset>
            <input class="span8" type="email" name="email" placeholder="Votre email..."
                   required
                    />
        </fieldset>

        <fieldset>
            <textarea class="span13" id="contactTextArea" name="message" placeholder="Tapez votre message" required></textarea>
        </fieldset>

        <img id="imgPhoenixSend" src="http://c1663920.r20.cf2.rackcdn.com/logo_contact.png" alt="Logo message webube">

        <input id="send" type="submit" class="btn success" value="Envoyez !"/>

    #{/form}


    </div>


    <div name="join-us" class="block">

        <h1>
            Nous rejoindre
        </h1>


        <div class="ambiance">

            <img class="right" src="http://c1663920.r20.cf2.rackcdn.com/loupe_img.png" alt="Loupe contact">

            <div>

                <p>
                    Bonne ambiance, dynamisme et travail de <strong>qualité</strong> sont les caractéristiques principales de
                    la culture d’entreprise de WebUbe. Pour soutenir sa croissance, <strong>WebUbe</strong> recrute les
                    talents d’aujourd’hui.
                </p>

                <p>Les profils que nous <strong>recherchons</strong> : </p>

                <ul>
                    <li><p><strong>R&D</strong>,</p></li>
                    <li><p><strong>développement et gestion de projet</strong>,</p></li>
                    <li><p><strong>graphiste et intégrateur HTML.</strong></p></li>
                </ul>


                <p>
                    N’hésitez pas à nous communiquer votre candidature (emplois ou stage), nous l’étudierons
                    avec la plus grande attention.
                </p>


            </div>

        </div>

        <div class="culture">


            <h2>
                Notre culture
            </h2>

            <p>
                Vous intégrerez une équipe jeune et très <strong>motivée</strong>. Nous pensons qu’une personne
                exprime le maximum de son potentiel en exploitant ses passions et en créant des produits
                dont elle peut être <strong>fière</strong>. Chez WebUbe, vous travaillerez dans un environnement
                <strong>fun</strong> où
                passion, innovation et création sont en <strong>synergie</strong>.
            </p>

            <h2>
                Responsabilité
            </h2>

            <p>
                Vous travaillerez sur notre technologie phare <strong>« Eagle<span class="super">©</span> »</strong> et la future révolution du monde mobile <strong>« Le projet Phoenix »</strong>.
                Outre notre technologie cross platform, vous aurez aussi à imaginer les futurs produits.
            </p>

            <h2>
                Technologies
            </h2>

            <p>Nous utilisons une multitude de technologies et d'outils, incluant <strong>Git</strong>,
                <strong>Play Framework</strong>, <strong>JQuery</strong>, <strong>MongoDb</strong>,
                <strong>Java</strong>, <strong>Scala</strong> et <strong>Dart</strong>. Nous créons des plug-ins pour
                toutes les plateformes que nous
                supportons, Android, IOS, BlackBerry, etc..
            </p>

            <p>
                Nous sommes ouverts et nous sommes intimement persuadés qu’il ne faut jamais
                s’enfermer dans une seule technologie.
            </p>

            <p>
                Intéressé ? Postulez ! Envoyez-nous un email à <a
                    href="mailto:contact@webube.com">contact@webube.com</a>
            </p>

        </div>
    </div>


    <!-- sample modal content -->
    <div id="modal-from-dom" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>

            <h2>Merci pour votre message</h2>
        </div>
        <div class="modal-body">
            <p>Nous vous répondrons dans les plus bref délais</p>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn success close">Ok</a>
        </div>
    </div>


</div>



