#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Réseaux sociaux, site vitrine, site e-commerce, WebUbe est une entrerprise SoLoMo (Social, Locale et Mobile) qui a les compétences pour porter votre projet.' /}


<!-- Example row of columns -->

<div id="digitalFactory" class="step"  data-x="850" data-y="3000" data-rotate="90" data-scale="5">

    <div id="facebookBlock" class="block">

        <div class="left fifty">

            <h1>Application Facebook</h1>

            <p>Les réseaux sociaux ont fait évoluer Internet de manière significative. 
                </p>
            
            <p>
                Ils permettent l'installation
                d'application virale se propageant très rapidement et pouvant toucher un grand nombre
                d'utilisateurs.</p>

            <p>WebUbe vous apportera son savoir-faire et son expérience en la matière pour créer votre application.</p>



        </div>

        <a href="@{Application.contact()}" class="btn success">Contactez nous</a>

        <img class="right" src="http://c1663920.r20.cf2.rackcdn.com/illu_websocial.png" alt="Illusion web social">
    </div>


    <div id="website" class="block">


        <div class="left fifty">
            <h1>Site Internet</h1>

            <p>WebUbe a fait de la conception de sites web à forte valeur ajoutée une de ses spécialités.</p>

            <p>Notre maîtrise technique associée aux technologies
                Cloud nous permet de créer des infrastructures
                web réactives pouvant assurer la viabilité de votre site même lors de fort trafic.
            </p>
            
            <p>
                Réseaux sociaux, site vitrine, site e-commerce, WebUbe est une entrerprise SoLoMo (Social, Locale et Mobile) qui a les compétences pour porter votre projet.
            </p>

            <br />


        </div>

        <a href="@{Application.contact()}" class="btn success">Contactez nous</a>

        <img class="right" src="http://c1663920.r20.cf2.rackcdn.com/illu_siteweb.png" alt="Illusion site web" />
    </div>

</div>