<!DOCTYPE html>

<html class="bestBrowser">
<head>
    <title>WebUbe</title>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" href="http://c861891.r91.cf3.rackcdn.com/touch-icon.png"/>
    <!-- <link rel="apple-touch-icon" href="public/images/touch-icon.png" />  -->

    <script type="text/javascript" src="http://c861891.r91.cf3.rackcdn.com/webube.mobile.util_v2.js"></script>

    <script type="text/javascript">
        // We redirect if we are not in webkit
        if (!UbeMobUtil.isWebkit) {
            document.location.href = "http://webube.com";
        }


        if (UbeMobUtil.isIPhone) {
            UbeMobUtil.loadCss("http://c861891.r91.cf3.rackcdn.com/ubeHigh_v3.css");
        } else if (UbeMobUtil.isAndroid) {
            UbeMobUtil.loadCss("http://c861891.r91.cf3.rackcdn.com/ubeMiddle_v3.css");
        } else if (UbeMobUtil.isBlackBerry) {
            UbeMobUtil.loadCss("http://c861891.r91.cf3.rackcdn.com/ubeLow_v3.css");
        } else {
            UbeMobUtil.loadCss("http://c861891.r91.cf3.rackcdn.com/ubeHigh_v3.css");
        }
    </script>

    <link rel="stylesheet" href="http://c861891.r91.cf3.rackcdn.com/add2home.css" type="text/css" title="senchatouch"/>


    <script type="text/javascript">
        var addToHomeConfig = {
            returningVisitor:true, // Show the message only to returning visitors (ie: don't show it the first time)
            expire:720, // Show the message only once every 12 hours
            touchIcon:true,
            startDelay:1000,
            lifespan:10000
        };
    </script>

    <script type="text/javascript" src="http://c861891.r91.cf3.rackcdn.com/eagle.js"></script>
    <script type="text/javascript" src="http://c861891.r91.cf3.rackcdn.com/classes_v9.0.js"></script>




</head>
<body>

<noscript>
    <h1>WebUbe — activez le JavaScript</h1>

    <p>Vous avez désactivé le JavaScript sur votre mobile ce qui empêche le site WebUbe de s'afficher normalement.</p>

    <p>Veuillez <strong>réactiver</strong> le JavaScript afin de profiter de bonnes conditions de navigation.</p>
</noscript>

<a href="" target="_blank" id="linker" style="display:none;"></a>
</body>
</html>

