#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company - Accueil' /}
#{set description:'WebUbe est le spécialiste du développement d’applications mobile pour smartphone (WebApp), d’applications Facebook, de site Internet et d’applications mobile cross platform.' /}


<div id="load">
    <img src="http://c862609.r9.cf3.rackcdn.com/logo_grand_webube.png" alt="Loading ajax webube"/>
    <br/>
    <br/>
    <img src="http://c862609.r9.cf3.rackcdn.com/ajax-loader.gif" alt="Loading ajax webube"/>
</div>


<div id="to-hide" style="display: none">

    <div id="index" class="active step">


        <div id="presentation">

            <h1>
                <img src="@{'/public/images/logo_small_webube.png'}" alt="WebUbe logo">
            </h1>

            <p>WebUbe, <strong>moteur</strong> du monde Web et mobile de demain, vous offre son <strong>savoir
                faire</strong> pour réaliser vos projets
                les
                plus <strong>novateurs</strong>...</p>

            <p>Notre <strong>passion</strong> conduira vos rêves vers l’excellence.</p>

        </div>

        <div id="slider">

            <!-- début du slider avec le pluggin jquery coda-slider-->
            <div class="coda-slider-wrapper">

                <div class="coda-slider preload" id="coda-slider">
                    <!--chaque panel est un slider-->
                    <div class="panel">
                        <div id="slider-webube" class="panel-wrapper text">

                            <img src="@{'/public/images/phoenix-only-400.png'}"
                                 style="position: relative;top: 64px;left: 23px;"/>

                            <div class="carroussel_desc" style="padding-left: 60px;">
                                <h2 class="title center-title">WebUbe</h2>
                                <!--image du slider a modifier-->

                                <p>Le <strong>Web</strong> est notre passion.</p>

                                <p>Nos compétences centrées sur le <strong>Web</strong> et la <strong>Mobilité</strong>
                                    nous permettent de vous proposer les meilleures solutions.</p>

                                <p><strong>« Nous faisons du Web, et nous le faisons bien »</strong></p>

                                <a class="btn success right" data-link="company" href="@{Application.company()}">En
                                    Savoir Plus</a>

                            </div>
                        </div>

                        <div class="ube-slider-tab">
                            <h3 class="title center-title"> WebUbe</h3>
                        </div>

                    </div>

                    <div id="slider-webApp" class="panel">
                        <div class="panel-wrapper text">

                            <img width="560px" height="378px"
                                 src="http://c1663920.r20.cf2.rackcdn.com/img_mobile.png"/>


                            <div class="carroussel_desc">

                                <h2 class="title"> WebApp </h2>

                                <p>Chez WebUbe, nous pensons que le futur du Web sera mobile.</p>

                                <p>Après une longue phase de R&D, WebUbe a développé sa propre technologie baptisée
                                    <strong>« Eagle<span class="super">©</span> »</strong>.</p>

                                <p>Nous avons définitivement comblé le fossé qui séparait les WebApp des applications
                                    natives.</p>


                                <a class="btn success right" data-link="webApp" href="@{Application.webApp()}"> En
                                    Savoir
                                    Plus! </a>
                            </div>
                        </div>

                        <div class="ube-slider-tab">
                            <h3 class="title"> WebApp </h3>
                        </div>
                    </div>


                    <div class="panel inno_width">
                        <div class="panel-wrapper text">
                            <img width="560px" height="378px"
                                 src="http://c1663920.r20.cf2.rackcdn.com/img_socialweb.png"
                                 style="margin-left: -29px !important; overflow-x: hidden !important;"/>

                            <div class="carroussel_desc">
                                <h2 class="title"> Site internet</h2>


                                <p>WebUbe a fait de la <strong>conception</strong> de sites web à forte valeur ajoutée
                                    une de ses <strong>spécialités</strong>.</p>

                                <p>WebUbe est une entreprise <strong>SoLoMo</strong> (Social, Local et Mobile) ayant les
                                    compétences pour porter vos projets.</p>

                                <a class="btn success" data-link="webSite" href="@{Application.webSite()}"> En
                                    Savoir Plus !</a>
                            </div>
                        </div>

                        <div class="ube-slider-tab">
                            <h3 class="title">Site Internet</h3>
                        </div>

                    </div>

                    <div class="panel">
                        <div class="panel-wrapper text">

                            <img width="560px" height="378px"
                                 src="http://c1663920.r20.cf2.rackcdn.com/img_innovation.png"
                                 style="margin-left: -29px !important; overflow-x: hidden !important;"/>

                            <div class="carroussel_desc">

                                <h2 class="title"> Innovation</h2>


                                <p>La recherche permanente d’innovation et un investissement constant en
                                    <strong>R&D</strong> confèrent à
                                    WebUbe un savoir-faire pointu permettant de répondre au mieux à vos
                                    attentes.</p>

                                <a class="btn success" data-link="phoenixProject"
                                   href="@{Application.phoenixProject()}"> En Savoir Plus !</a>
                            </div>
                        </div>

                        <div class="ube-slider-tab">

                            <h3 class="title center-title"> Innovation</h3>
                        </div>
                    </div>

                    <div id="slider-phoenixProject" class="panel">
                        <div class="panel-wrapper text">
                            <img width="560px" height="378px"
                                 src="http://c1663920.r20.cf2.rackcdn.com/img_app-ocalypse.png"/>


                            <div class="carroussel_desc">
                                <h2 id="appocalypse" class="title app-ocalypse">Projet Phoenix</h2>

                                <p>La <strong>renaissance</strong> des applications mobiles pour smartphones et
                                    tablettes.</p>

                                <p>Phoenix est un <strong>écosystème</strong> sur le cloud redéfinissant les standards
                                    de l’industrie mobile.</p>

                                <p><strong>Coming soon…</strong></p>

                                <a class="btn success" data-link="phoenixProject"
                                   href="@{Application.phoenixProject()}"> En Savoir Plus !</a>
                            </div>
                        </div>

                        <div class="ube-slider-tab">

                            <h3 class="title center-title"> Projet Phoenix </h3>

                        </div>


                    </div>
                </div>

            </div>


        </div>

    </div>


</div>
<!-- Example row of columns -->
