#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company' /}


<div id="index">
    <div id="presentation">

        <img src="@{'public/images/logo_grand_webube.png'}">

        <p>Les développeurs WebUbe, véritables artisans poussés par leur passion de l’excellence portent un regard neuf
            sur
            l’univers mobile et les technologies Web.</p>

        <p>
            WebUbe, articulé autour de son atelier digital et de son pôle mobile,
            met à votre disposition son savoir-faire pour donner vie à vos projets.</p>

    </div>


    <div id="slider">

        <!-- début du slider avec le pluggin jquery coda-slider-->
        <div class="coda-slider-wrapper">

            <div class="coda-slider preload" id="coda-slider">
                <!--chaque panel est un slider-->
                <div class="panel">
                    <div class="panel-wrapper text">

                        <img src="@{'public/images/newImgWebube/img_mobile.png'}"
                             style="position: relative;left: -14px;"/>

                        <div class="carroussel_desc" style="padding-left: 8px;">
                            <h2 class="title center-title"> Mobile</h2>
                            <!--image du slider a modifier-->


                            <p>Le XXIe siècle sera connecté et mobile ! Porté par la vague des smartphones et des
                                tablettes, WebUbe s’est spécialisé dans le développement d’applications mobile
                                répondant à cette <br/>
                                révolution!</p>

                            <a class="btn success right" href="@{Application.mobile()}"> En Savoir Plus !</a>

                        </div>
                    </div>

                    <div class="ube-slider-tab">

                        <h3 class="title center-title"> Mobile</h3>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-wrapper text">

                        <img width="560px" height="378px" src="@{'public/images/newImgWebube/img_socialweb.png'}" />


                        <div class="carroussel_desc">

                            <h2 class="title"> Atelier digital </h2>

                            <p>Un regard neuf sur le Web et ses technologies, les ingénieurs WebUbe ne sont pas de
                                simples développeurs, mais des artisans portés par leurs passions. Chez WebUbe, un
                                site Internet se façonne avec réflexion et savoir-faire.</p>

                            <a class="btn success right" href="@{Application.digitalFactory()}"> En Savoir Plus ! </a>
                        </div>
                    </div>

                    <div class="ube-slider-tab">

                        <h3 class="title"> Atelier digital </h3>
                    </div>
                </div>


                <div class="panel inno_width">
                    <div class="panel-wrapper text">
                        <img width="560px" height="378px" src="@{'public/images/newImgWebube/img_innovation.png'}"
                             style="margin-left: -29px !important; overflow-x: hidden !important;" />

                        <div class="carroussel_desc">
                            <h2 class="title"> Innovation</h2>


                            <p>La recherche permanente d’innovation et un investissement constant en R&D confèrent à
                                WebUbe un savoir-faire pointu et très à jour permettant de répondre au mieux à vos
                                attentes.</p>

                            <a class="btn success" href="@{Application.appOcalypse()}"> En Savoir Plus !</a>
                        </div>
                    </div>

                    <div class="ube-slider-tab">

                        <h3 class="title"> Innovation</h3>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-wrapper text">

                        <img width="560px" height="378px" src="@{'public/images/newImgWebube/img_conseil.png'}" />

                        <div class="carroussel_desc">

                            <h2 class="title center-title"> Conseil</h2>

                            <p>L’expérience WebUbe va au-delà de la réalisation de votre projet. Être force de
                                proposition, vous conseiller en amont, concrétiser vos attentes et vous proposer un
                                suivi de qualité font partie des engagements de WebUbe.</p>

                            <a class="btn success " href="@{Application.company()}"> En Savoir Plus !</a>
                        </div>
                    </div>

                    <div class="ube-slider-tab">

                        <h3 class="title center-title"> Conseil</h3>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-wrapper text">
                        <img width="560px" height="378px" src="@{'public/images/newImgWebube/img_app-ocalypse.png'}" />


                        <div class="carroussel_desc">
                            <h2 id="appocalypse" class="title app-ocalypse">App-ocalypse</h2>

                            <p>Technologie cross plateforme de WebUbe permettant la conception d’une application
                                mobile universelle et son déploiement sur l’ensemble des smartphones et des
                                tablettes tactiles !</p>

                            <a class="btn success" href="@{Application.appOcalypse()}"> En Savoir Plus !</a>
                        </div>
                    </div>

                    <div class="ube-slider-tab">

                        <h3 class="title center-title app-ocalypse"> App-Ocalypse</h3>

                    </div>

                </div>
            </div>

        </div>


    </div>

</div>


<script type="text/javascript" src="@{'public/javascripts/jquery.easing.1.3.js'}"></script>
<script type="text/javascript" src="@{'public/javascripts/jquery.coda-slider-2.1.js'}"></script>
<script type="text/javascript">
    $('#coda-slider').codaSlider({
        carousel:true,
        autoSlide:true,
        autoSlideInterval:6000,
        slideEaseDuration:2000,
        autoSlideStopWhenClicked:true,
        autoHeight:false,
        dynamicArrows:false,
        panelTitleSelector:".ube-slider-tab"
    });
</script>


<!-- Example row of columns -->
