#{extends 'main.html' /}
#{set title:'Home' /}


<!-- Example row of columns -->


<div id="mobile">

    <div class="block">


        <h1>Le XXIe siècle sera connecté et mobile !</h1>

        <div id="mobileTopPage">
            <div id="leftMobile">
                <p>
                    L’émergence du marché des smartphones et des tablettes a eu pour conséquence le développement d’un
                    nouveau modèle : les kiosques de téléchargement d’applications mobiles.
                </p>

                <p>
                    On retrouve l’App Store pour Apple et son iPhone, l’Android Market pour les téléphones équipés de
                    l’OS
                    de Google, l’App world pour BlackBerry et le Market Place pour les Windows Phones.
                </p>

                <p>
                    Une application mobile a pour but de simplifier votre relation avec les utilisateurs. En effet, où
                    qu’ils soient (métro, bus, travail, domicile..), les personnes utilisant votre application peuvent
                    très
                    facilement s’y connecter. L’impact sur votre trafic est considérable.
                </p>

                <p>
                    WebUbe vous aide à appréhender ce marché, vous conseille et développe l’application mobile qui
                    répondra
                    à vos attentes et à vos besoins.
                </p>


            </div>

            <img id="kiosque" src="@{'public/images/kiosques.png'}" alt="kiosques de téléchargement application mobile">

        </div>


        <div id="mobileBottomPage">

            <img src="@{'public/images/shapes_background_texts.png'}" alt="webube géolocalisation, m-commerce" />

            <div id="slideshowHolder" class="slidder-mobile">
                <img src="@{'public/images/mobile/bureau_carrousel.jpg'}">
                <img src="@{'public/images/mobile/chambre_carrousel.jpg'}">
                <img src="@{'public/images/mobile/metro_carrousel.jpg'}">
                <img src="@{'public/images/mobile/train_carrousel.jpg'}">
                <img src="@{'public/images/mobile/supermarcket_carrousel.jpg'}">
            </div>


            <script type="text/javascript" src="http://workshop.rs/projects/jqfancytransitions/jqFancyTransitions.1.8.min.js"></script>

            <script>
                $('#slideshowHolder').jqFancyTransitions({
                    width:325,
                    height:425
                });
            </script>

        </div>
    </div>

</div>
