#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company - Le projet phoenix' /}
#{set description:'Phoenix est un écosystème en Cloud révolutionnaire construit sur un socle d’application mobile universelle.' /}


<!-- Example row of columns -->

<div id="phoenixProject" class="step">


    <div class="block">

        <h1>Le projet Phoenix</h1>

        <h2>
            <img width="300px" src="http://c1663920.r20.cf2.rackcdn.com/img_app-ocalypse.png" alt="Projet phoenix"/>
        </h2>


        <p>Phoenix est un <strong>écosystème</strong> en Cloud révolutionnaire construit sur un socle d’application
            mobile universelle.</p>

        <p>L’équipe WebUbe travaille depuis plusieurs mois sur une évolution majeure de l’<strong>interaction</strong>
            entre les applications mobiles et les utilisateurs.</p>

        <p>Le projet Phoenix entre dans la dernière phase de son <strong>développement</strong> et sera dévoilé très
            prochainement.</p>

        <h2 style="text-align: center;">Entrez votre email et soyez le premier à découvrir la
            <strong>renaissance</strong> des applications mobiles !</h2>


        <div class="formPhoenix">
            <form action="http://webube.us4.list-manage.com/subscribe/post?u=ffdbf8845b6b9b364266d1a4f&amp;id=a7bac227ad"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank">

                <input name="EMAIL" id="mce-EMAIL" type="email" class="span7"
                       placeholder="Entrez votre Email pour restez au courant..." required>

                <input class="btn success" type="submit" value="Ok">
            </form>
        </div>



        <style type="text/css">
            .addthis_toolbox {
                display: block;
                margin: auto;
            }
        </style>
    </div>
</div>