#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:' WebUbe à développé sa propre technologie propriétaire baptisé App-Ocalypse permettant de développer des applications cross platform combinant l’agilité du site mobile et les fonctionnalités de l’application native.' /}


<!-- Example row of columns -->

<div id="phoenixProject" class="step">


    <div class="block">

        <h1>Le projet Phoenix</h1>

        <div class="row">
            <div class="span9">
                <img width="500px" src="http://c1663920.r20.cf2.rackcdn.com/img_app-ocalypse.png" alt="Projet phoenix"/>
            </div>


            <div class="span6">
                <p>La <strong>renaissance</strong> des applications mobiles pour smartphones et tablettes.</p>

                <p>Phoenix est un <strong>écosystème</strong> sur le cloud redéfinissant les standards de l’industrie
                    mobile.
                </p>

                <p>Cela fait des mois que toute l'<strong>équipe</strong> de WebUbe travaille sur la prochaine <strong>révolutions</strong> mobile</p>

                <p>Ne ratez pas la sortie du <strong>Projet Phoenix</strong>! Inscrivez vous et rentrez avec WebUbe dans une nouvelle ère du mobile.</p>
            </div>
        </div>

        <div class="formPhoenix">
            <form  action="http://webube.us4.list-manage.com/subscribe/post?u=ffdbf8845b6b9b364266d1a4f&amp;id=a7bac227ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

                <input name="EMAIL" id="mce-EMAIL" type="email" class="span7" placeholder="Entrez votre Email pour restez au courant..." required>

                <input class="btn success" type="submit" value="Ok">
            </form>
        </div>


    </div>
</div>