#{extends 'main.html' /}
#{set title:'Home' /}




<div id="ref">


    <div class="block">

        <div class="span4">
            <div class="polaroid">
                <a href="http://www.yakadeal.com" title="Yakadeal">
                    <img width="120px" height="120px" src="@{'public/images/reference/yakadeal.png'}" alt="Yakadeal"/>
                </a>
            </div>

        </div>

        <div class="span10">
            <h1>Yakadeal</h1>

            <h2>Site d'agrégateur de Deal</h2>

            <p></p>
        </div>
    </div>
    <sssd> </sssd>
    <div class="block">
              dsf
        .span4
        <div class="polaroid">
            <a href="http://www.yakadeal.com" title="Wakizz">
                <img width="120px" height="120px" src="@{'public/images/reference/yakadeal.png'}" alt="Wakizz"/>
            </a>
        </div>

        <h1>Wakizz</h1>

        <h2>Site d'agrégateur de Deal</h2>

        <p></p>

    </div>


    <div class="block">


        <div class="left">
            <div class="polaroid">
                <a href="http://www.yakadeal.com" title="Wakizz">
                    <img width="120px" height="120px" src="@{'public/images/reference/yakadeal.png'}" alt="Cricel"/>
                </a>
            </div>
        </div>

        <div class="left">
            <h1>Cricel</h1>

            <h2>Site d'agrégateur de Deal</h2>

            <p></p>
        </div>
    </div>


</div>