#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Yakadea, Wakizz, Cricel, Girard ... Ils nous ont fait confiance' /}





<div id="ref">


    <div class="block" data-ube-link='http://www.yakadeal.com'>
        <a href="http://www.yakadeal.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/yakadeal.png" alt="Yakadeal" width="180px" height="180px"/>

            <h1>Yakadeal</h1>


            <p>Yakadeal a été développé afin de faciliter la vie des acheteurs de bons plans. En effet, les sites
                proposant
                des achats groupés sur internet sont nombreux, et leur nombre ne cesse d’augmenter. Yakadeal regroupe
                tous
                ces sites afin que vous puissiez retrouver tous les meilleurs bons plans de votre région et du net sur
                un
                seul et même site !</p>

        </a>
    </div>


    <div class="block" data-ube-link='http://www.wakizz.com'>
        <a href="http://www.wakizz.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/wakizz.png" alt="Wakizz appli" width="180px" height="180px"/>

            <h1>Wakizz</h1>


            <p>Application Facebook viral permettant une interaction forte avec ses amis. Wakizz permet l’envoi d’un
                message
                accompagné d’un carton rouge, jaune ou vert en fonction de la teneur de celui-ci ! : Un remerciement ou
                des
                félicitations : carton vert ! Un retard, un oubli ou une faute et c’est le carton rouge !</p>
        </a>

    </div>


    <div class="block" data-ube-link='http://www.cricel.com'>
        <a href="http://www.cricel.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/cricel.png" alt="Cricel " width="180px" height="180px"/>

            <h1>Cricel</h1>


            <p>
                WebUbe a participé au développement de la société Cricel :
            <ul>
                <li>Conseil en stratégie marketing et développement d'une partie du site e-commerce</li>
                <li>Développement des outils de vente en ligne.</li>
                <li>Management de l’innovation, nouvelles gammes de produits.</li>
                <li>Sourcing marchés complémentaires.</li>
            </ul>
            </p>
        </a>
    </div>


    <div class="block" data-ube-link='http://www.drivesouthafrica.co.za/'>
        <a href="http://www.drivesouthafrica.co.za/" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/drivesouthafrica.png" alt="Drive South Africa" width="180px" height="180px"/>

            <h1>Drive South Africa</h1>

            <p>
                SEO, référencement naturel et netlinking de qualité pour le leader du tourisme on-line Sud africain! </p>

            <p>
                Drive South Africa est un site sud-africain (Le Cap) spécialisé dans le tourisme et la location de
                voiture.
                WebUbe s’est chargé du référencement Internet (SEO) permettant à DSA d’assoir sa position de leader
                national!
            </p>
        </a>
    </div>


    <div class="block" data-ube-link='http://www.pizzas-girard.fr/'>
        <a href="http://www.pizzas-girard.fr/" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/girard.png" alt="Drive South Africa" width="180px" height="180px"/>

            <h1>Girard</h1>

            <p>
                Création d'un site vitrine et gestion du SEO </p>
            <p>
        </a>
    </div>



</div>

