#{extends 'main.html' /}
#{set title:'WebUbe - The cross platform company - Nos références' /}
#{set description:'Yakadeal, Wakizz, Cricel, Girard ... Ils nous ont fait confiance' /}





<div id="reference">



    <div class="block" data-ube-link='http://www.yakadeal.com'>
        <a href="http://www.yakadeal.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/yakadeal.png" alt="Yakadeal" width="180px" height="180px"/>

            <h1>Yakadeal</h1>

            <p><strong>Yakadeal</strong> a été développé afin de faciliter la vie des acheteurs de bons plans. En effet, les sites
                proposant
                des achats groupés sur internet sont nombreux, et leur nombre ne cesse d’augmenter. Yakadeal <strong>regroupe</strong>
                tous
                ces sites afin que vous puissiez retrouver tous les meilleurs bons plans de votre région et du net sur
                un seul et même site !</p>
        </a>
    </div>

    <div class="block" data-ube-link='http://www.yakadeal.com'>
        <a href="http://www.yakadeal.com/yakamobile" target="_blank">
            <img src="http://c862609.r9.cf3.rackcdn.com/eagle-yakamobil-croped-reference.png" alt="Yakadeal" width="180px" height="180px"/>

            <h1>Yakamobile</h1>


            <p>Très satisfait de son site Internet, la société <strong>Yakadeal</strong> a de nouveaux fait appel à WebUbe pour la
                conception d’une WebApp. En effet, une majorité de connexions à Internet se fait désormais depuis un
                <strong>smartphone</strong> ou une <strong>tablette</strong>. Baptisée Yakamobile, cette <strong>WebApp</strong> permet un accès optimisé pour tous les
                périphériques mobiles.</p>

        </a>
    </div>


    <div class="block" data-ube-link='http://www.wakizz.com'>
        <a href="http://www.wakizz.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/wakizz.png" alt="Wakizz appli" width="180px" height="180px"/>

            <h1>Wakizz</h1>


            <p>Application Facebook virale permettant une interaction forte avec ses amis. Wakizz permet l’envoi d’un
                message
                accompagné d’un carton rouge, jaune ou vert en fonction de la teneur de celui-ci !</p>
        </a>

    </div>


    <div class="block" data-ube-link='http://www.cricel.com'>
        <a href="http://www.cricel.com" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/cricel.png" alt="Cricel " width="180px" height="180px"/>

            <h1>Cricel</h1>


            <p>
                WebUbe a participé au développement de la société Cricel :
            <ul>
                <li>Conseil en stratégie marketing et développement d'une partie du site e-commerce,</li>
                <li>Développement des outils de vente en ligne,</li>
                <li>Management de l’innovation, nouvelles gammes de produits,</li>
                <li>Sourcing marchés complémentaires.</li>
            </ul>
            </p>
        </a>
    </div>


    <div class="block" data-ube-link='http://www.drivesouthafrica.co.za/'>
        <a href="http://www.drivesouthafrica.co.za/" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/drivesouthafrica.png" alt="Drive South Africa" width="180px"
                 height="180px"/>

            <h1>Drive South Africa</h1>

            <p>
                SEO, référencement naturel et netlinking de qualité pour le leader du tourisme online sud-africain! </p>
            <p>
                Drive South Africa est un site sud-africain (Le Cap) spécialisé dans le tourisme et la location de
                voiture.
                WebUbe s’est chargé du référencement Internet (SEO) permettant à DSA d’assoir sa position de leader
                national!
            </p>
        </a>
    </div>


    <div class="block" data-ube-link='http://www.pizzas-girard.fr/'>
        <a href="http://www.pizzas-girard.fr/" target="_blank">
            <img src="http://c1663920.r20.cf2.rackcdn.com/girard.png" alt="Drive South Africa" width="180px"
                 height="180px"/>

            <h1>Girard</h1>

            <p>
                Création d’un site vitrine et gestion du référencement Internet. Artisan qualifié, M.&nbsp;Girard a
                rapidement compris l’importance de soigner son image sur Internet.
            <p>

            <p class="citation">«Les compétences de WebUbe en matière de conception de site Internet ont permis à mon
                entreprise d’augmenter significativement mon chiffre d'affaires.» <br/><em>M. Girard</em></p>
        </a>
    </div>

</div>

