#{extends 'main.html' /}
#{set title:'Home' /}
#{set description:'Quelques soit votre projet, WebUbe vous apportera conseils et expertise et vous accompagnera tout au long du développement de votre application iPhone, Android, BlackBerry, Windows Phone 7…' /}


<!-- Example row of columns -->


<div id="webApp" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">

    <div class="block">


        <h1>Une conception nouvelle du mobile !</h1>

        <div id="mobileTopPage">

            <img width="300px" src="http://c1663920.r20.cf2.rackcdn.com/img_mobile.png"/>

            <h2><em>Qu’est-ce qu’une WebApp ?</em></h2>

            <p>
                Une Web Application, ou WebApp, est un <strong>site Internet</strong> conçu pour les smartphones et les
                tablettes.
            </p>

            <h2><em>Pourquoi une WebApp ?</em></h2>

            <p>
                La majorité des accès web se font désormais depuis un smartphone ou une tablette.
                Profitez de cette <strong>évolution</strong> pour optimiser l’expérience utilisateur de vos clients en
                faisant le choix d’une WebApp.
            </p>

            <p>Elle sera accessible par <strong>100%</strong> des smartphones et tablettes (iPhone, iPad, Android,
                BlackBerry, Nokia, Windows Phone...)
            </p>

            <p>Son design et son ergonomie sont <strong>pensés</strong> pour un usage mobile.</p>

        *{<h3 style="text-align: center;">WebUbe vous accompagne dans le Web de demain !</h3>}*

            <h2><em>Pourquoi travailler avec WebUbe ?</em></h2>

            <p>Après une longue phase de R&D, WebUbe a développé sa propre technologie baptisé <strong>« Eagle<span
                    class="super">©</span> »</strong>. Nous avons définitivement comblé le fossé qui séparait les WebApp
                des applications natives.</p>

            <p>Beauté, fluidité, rapidité ; avec la technologie Eagle de WebUbe, proposez une
                <strong>expérience</strong> mobile hors du commun à vos utilisateurs.</p>

            <h3>Plus que des mots, testez nos WebApps</h3>

            <div class="imgWebApp row">
                <a target="_blank" href="http://webube.com/phoenix-demo" class="span8"  style="width: 486px;">
                    <img class="thumbnail" width="300px" src="http://c862609.r9.cf3.rackcdn.com/eagle-webube-croped.png" width="" alt="">
                </a>

                <a target="_blank" href="http://yakadeal.fr/yakamobile" class="span4">
                    <img class="thumbnail" width="300px" src="http://c862609.r9.cf3.rackcdn.com/eagle-yakamobil-croped.png" alt="">
                </a>
            </div>


            <div class="center">
                <a class="btn success" data-link="contact" href="@{Application.contact()}">Nous contacter</a>
            </div>

        </div>


    </div>


</div>
